{% extends "auctions/layout.html" %}

{% block body %}

    {% if request.path == '/' %}
        <h2>Active Listings</h2>
    {% elif request.path == '/mylistings'%}
        <h2>My Listings</h2>
    {% elif request.path == '/closedlistings'%}
        <h2>Closed Listings</h2>
    {% else %}
        <h2>Active Listings in {{category}} Category:</h2>
    {% endif %}

    {% if listings|length == 0 %}
        <li>No listings found</li>
    {% else %}
      {% for listing in listings %}
        <div class="card mb-3">
            <div class="d-flex flex-row mb-2">
                <div>
                {% if listing.image_url %}
                    <image src="{{ listing.image_url }}" class="img-fluid" width="225" height="175" alt="{{listing.title}}">
                {% endif %}
                </div>
                <div class="ml-1">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text">Description: {{ listing.description }}</p>
                {% if listing.current_bid %}
                <p class="card-text">Current Price: ₹ {{ listing.current_bid.bid }}</p>
                {% else %}
                <p class="card-text">Starting Price: ₹ {{ listing.starting_bid }}</p>
                {% endif %}
                <p class="card-text">Category: {{ listing.category }}</p>
                <p class="card-text">Created by: {{ listing.user }}</p>
                <p class="card-text">Created on: {{ listing.created_on }} IST</p>
                <a href="{% url 'listing' listing.id %}" class="btn btn-primary">View Listing</a>
                </div>
            </div>
        </div>
      {% endfor %}
    {% endif %}
{% endblock %}